# =========================
# NextAuth
# =========================
AUTH_SECRET=your_auth_secret
NEXTAUTH_SECRET=your_nextauth_secret
NEXTAUTH_URL=http://localhost:8080
AUTH_TRUST_HOST=true

# =========================
# OAuth Providers
# =========================
GITHUB_ID=your_github_id
GITHUB_SECRET=your_github_secret

GOOGLE_ID=your_google_id
GOOGLE_SECRET=your_google_secret

FACEBOOK_CLIENT_ID=your_facebook_client_id
FACEBOOK_CLIENT_SECRET=your_facebook_client_secret

# =========================
# API
# =========================
NEXT_PUBLIC_API_BASE=http://localhost:18081
API_BASE_INTERNAL=http://host.docker.internal:18081

# =========================
# Perfiles
# =========================
NEXT_PUBLIC_PERFIL_AUX_ADMIN_ID=1
NEXT_PUBLIC_PERFIL_NO_SOCIO_ID=2
NEXT_PUBLIC_PERFIL_SOCIO_ID=3
NEXT_PUBLIC_PERFIL_ADMIN_ID=4

# =========================
# Extras
# =========================
NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1
